In [ ]:
** What is 7 to the power of 4?**

In [2]:
7**4

2401

In [ ]:
** Split this string:**

In [4]:
s= "Hi there yogesh!"

In [5]:
s

'Hi there yogesh!'

In [6]:
s.split()

['Hi', 'there', 'yogesh!']

In [ ]:
** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [7]:
planet="Earth"
diameter =12742

In [8]:
a=planet
b=diameter

In [9]:
a

'Earth'

In [14]:
'the diameter of {} is {} kilometers'. format(a,b)

'the diameter of Earth is 12742 kilometers'

In [ ]:
** Given this nested list, use indexing to grab the word "hello" **
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [17]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [18]:
lst

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [2]:
lst[3][1][2]

NameError: name 'lst' is not defined

In [ ]:
** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [31]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [33]:
type(d)

dict

In [32]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

 d['k1']

In [39]:
d ['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
** What is the main difference between a tuple and a list? **

In [ ]:
The main difference between list and tuple is that list are mutable where as tuple are immutable

In [ ]:
** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
    So for example, passing "user@domain.com" would return: domain.com

In [ ]:
s='shruti@gmail.com'

In [11]:
def fun1(s):
    d=s.split('@')
    print(d[1])

In [ ]:
** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [9]:
def contains_dog(s):
    return "dog" in s.lower()
print(contains_dog("I have a Dog"))  # True
print(contains_dog("This is a cat"))  # False

True
False

In [ ]:
** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
countDog('This dog runs faster than the other dog dude!')

In [12]:
def count_dog(s):
    c=0
    for v in s.lower().split():
        if v=='dog':
            c=c+1
    print(c)

In [17]:
count_dog('This dog runs faster than the other dog dude!')

2

In [ ]:
** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [21]:
seq= ['soup','dog','salad','cat','great']

In [14]:
seq = ['soup','dog','salad','cat','great']

In [28]:
lambda item:item[0]=='s',seq

(<function __main__.<lambda>(item)>, ['soup', 'dog', 'salad', 'cat', 'great'])

In [15]:
list(filter(lambda item:item[0]!='s',seq))

['dog', 'cat', 'great']

In [ ]:
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [33]:
def caught_speed(speed, is_birthday):
    speed_val = speed
    if is_birthday == True:
        speed= speed-5
    else:
        speed = speed_val
    if speed <=60:
         print("small ticket")
    elif speed>60 and speed<81:
        print ("small ticket")
    elif speed>=81:
        print ("big ticket")
    print (speed)

In [ ]:
def caught_speed(speed, is_birthday):
    speed_val = speed
    if is_birthday == True:
        speed= speed-5
    else:
        speed = speed_val
    if speed <=60:
         print("small ticket")
    elif speed>60 and speed<81:
        print ("small ticket")
    elif speed>=81:
        print ("big ticket")
    print (speed)

In [34]:
caught_speed(81,False)

big ticket
81

In [35]:
caught_speed(55,True)

small ticket
50

In [36]:
caught_speed(71,False)

small ticket
71

In [ ]:
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [3]:
n1=input ("enter the number:")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    print("number is:",n3)
    print("reverse is:",n3[::-1])
    n3=str(int(n3)+int(n3[::-1]))
    print("number is:",n3)
    print("reverse is:",n3[::-1])
print("palindrome is",n3)

enter the number: 89

number is: 187
reverse is: 781
number is: 968
reverse is: 869
number is: 968
reverse is: 869
number is: 1837
reverse is: 7381
number is: 1837
reverse is: 7381
number is: 9218
reverse is: 8129
number is: 9218
reverse is: 8129
number is: 17347
reverse is: 74371
number is: 17347
reverse is: 74371
number is: 91718
reverse is: 81719
number is: 91718
reverse is: 81719
number is: 173437
reverse is: 734371
number is: 173437
reverse is: 734371
number is: 907808
reverse is: 808709
number is: 907808
reverse is: 808709
number is: 1716517
reverse is: 7156171
number is: 1716517
reverse is: 7156171
number is: 8872688
reverse is: 8862788
number is: 8872688
reverse is: 8862788
number is: 17735476
reverse is: 67453771
number is: 17735476
reverse is: 67453771
number is: 85189247
reverse is: 74298158
number is: 85189247
reverse is: 74298158
number is: 159487405
reverse is: 504784951
number is: 159487405
reverse is: 504784951
number is: 664272356
reverse is: 653272466
number is: 664272356
reverse is: 653272466
number is: 1317544822
reverse is: 2284457131
number is: 1317544822
reverse is: 2284457131
number is: 3602001953
reverse is: 3591002063
number is: 3602001953
reverse is: 3591002063
number is: 7193004016
reverse is: 6104003917
number is: 7193004016
reverse is: 6104003917
number is: 13297007933
reverse is: 33970079231
number is: 13297007933
reverse is: 33970079231
number is: 47267087164
reverse is: 46178076274
number is: 47267087164
reverse is: 46178076274
number is: 93445163438
reverse is: 83436154439
number is: 93445163438
reverse is: 83436154439
number is: 176881317877
reverse is: 778713188671
number is: 176881317877
reverse is: 778713188671
number is: 955594506548
reverse is: 845605495559
number is: 955594506548
reverse is: 845605495559
number is: 1801200002107
reverse is: 7012000021081
number is: 1801200002107
reverse is: 7012000021081
number is: 8813200023188
reverse is: 8813200023188
palindrome is 8813200023188

In [ ]:
Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'

In [4]:
s=input("enter the input:")
n=''
numbers=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    n=n+s[0]
for v in s:
    if v in str(numbers):
        n=n+v
print(n)

enter the input: -ab14

-14

In [ ]:
Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [14]:
def find_5digit_no():
    for c in range(1,8):
        a=c+2
        b=c+2
        d=c-2
        e=d+2
        if a+b+c+d+e==19 and c+d+e==a:
            number =input( "{a}{b}{c}{d}{e}")
            print("the 5 digit number is:",(numbers))