In [1]:
## MTA questions pdf 1

In [2]:
#1
x=8
y=10
result=x//3*3/2+y%2**2
print(result)
### r=8//3*3/2+10%2**2
#r=2*3/2+10%4
#r=6/2+2
#r=3.0+2
#r=5.0

5.0

In [ ]:
#2 consider the code:
    start=input("how old were u at the time of joining?")
    end=input ("how old are u today?")
what code will give congratulations msg on print

In [5]:
start=input("how old were u at the time of joining?")
end=input ("how old are u today?")

how old were u at the time of joining? 25
how old are u today? 60

In [7]:
print('congratulations on '+ str(int(end)-int(start))+"years of service!")

congratulations on 35years of service!

In [9]:
#3
x='ACROTE'
y="APPLE"
z="TOMATO"
#what so be coded to print CAT

In [10]:
print(x[1]+y[0]+z[0])

CAT

In [20]:
#4
x="durga"
y="durga"
result='condition'
'condition' ==x is y   
print(result)

condition

In [23]:
#5  code1
a1='10'
b1=3
c1=a1*b1
#code2
a2=10
b2=3
c2=a2/b2
#code3
a3=2.6
b3=1
c3=a3/b3
#what is the datatype of c1,c2,c3

In [ ]:
c1=101010(str), c2=3.33(float), c3=2.6(float)

In [ ]:
## 6 which of the following will give same result
1)13//4= 3    2)11/3=3.666
3) 3**1=3   4)23%5=3

In [28]:
# 7
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1== n2)

False
True

In [ ]:
#8 
a=1 b=3 c=5 d=7
#which of the following combinations give result value 0
1)a-b//d=1-3//7=1
2)a**d-1=1**7-1=0
3)a+b*2=4*2=8
4)a%b-1=1%3-1=0

In [30]:
#9
s='AB CD'
list=list(s)
list.append('EF')
print(list)
#what is the result?

['A', 'B', ' ', 'C', 'D', 'EF']

In [ ]:
#Q.10 consider the python code 
a=5
b=10
c=2
d=True

x=a+b*c=5+10*2=25
y=a+b/d=5+10/true=5+10.0=15.0

if ('condition'):
    print('valid')
else:
    print('invalid')
#to print 'valid' which condition have to be taken
==> x>y

In [3]:
#11
x=input('enter first number:')
y=input('enter the second value')
#line1
#which print statement will give sum of given numbers

enter first number: 15
enter the second value 25

In [5]:
print('the result:'+str(int(x)+int(y)))
## same as Q.2

the result:40

In [ ]:
# 12 consider the expression:
result=a-b*c+d
##which of the following will occur 1st?
==>1) b*c will execute then substrsction (coz it has left to right associativity) then addition
2)a-(b*c)+d soo (b*c) will execute coz of BODMAS

In [ ]:
#13
weight=62.4
zip='80098'
value+=23E4
data types of weight, zip,and value valiables
weight:-float
zip=str and value== float

In [ ]:
##14 identify types of a,b,c
a=10+20==> INT
b='10'+'20'==> STR
c='10'*3++> STR

In [ ]:
##15 which variables represnt false
a=bool([False]) ==> TRUE
b=bool(3)==> TRUE
c=bool("")==> FALSE
d=bool(" ") ==>TRUE

In [ ]:
## 16 what is the result value ?
result=(2*(3+4)**2-(3**3)*3)
      =(2*7**2-27*3)
      =(2*49-81)
      = (98-81)
      = 17

In [ ]:
#17
a=2
a+=1
##line1
## to make value 9 which exp will be req at line 1
 now a=3 and a**=2 soo 3**2=9

In [ ]:
#18
a=bool(0)==> FALSE
b=bool(3)==> TRUE
c=bool(0.5)==> TRUE
d=bool(0.0)==> FALSE

In [6]:
#19
a=21
b=6
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [ ]:
#20 you are developing a python application for company

 a list named employees contains 500 employee names, the last 3 being company management.
  which of the following represents only management employees 
==>emplyoee[497:500]
==>employee[-3:]
==>employee[497:]

In [9]:
#21
subjects= ['java', 'python', 'sap']
more_subjects=['java', 'python', 'sap']
extra_subjects=more_subjects
#in which cases True will be printed 
print(extra_subjects is more_subjects)
print(subjects == extra_subjects)
print(subjects is more_subjects)
print (subjects is extra_subjects)

True
True
False
False

In [ ]:
#22 you are developing a python application for company
a list named employees contains 500 employee names. in which cases will get index error
 while accessing employee data
employees[0:501]
emplyoees[1:1000]
emplyoees[-10:10]
##NONE GIVES INDEX ERROR

In [12]:
#23
numbers =[10,20,30,40,50]
alphabets=['a', 'b', 'c','d', 'e']
print (numbers is alphabets)
print (numbers == alphabets)
numbers=alphabets
print (numbers is alphabets)
print (numbers==alphabets)

False
False
True
True

In [ ]:
#24
##datatypes
age=0 ===> int
minor=False ===> bool
name='Durga' ===> str

In [ ]:
#25  which of the following exp will generate max value
8//3*4 = 2*4==>8
8%3*4 ==>8
8/3*4 ==> 10.66
8.3*4 ==> 4

In [27]:
#26
s='Python is easy'
s1=s[6:-4]
print(s1)

 is

In [28]:
s='Python is easy'
s1=s[6:-4]
s2=s1.strip()
print(len(s2))
#to print 2 as output which code needs to be inserted

2

In [ ]:
#27 you are developing a python application for company

a list named employees contains 500 employee names, the last 3 being company management.
which of the following represents only management employees. you need to slice employees excluding management. 
which two code segments we should use ?
==>employees [:-3]
emplyoees [0:-3]

In [ ]:
#28
list=['APPLE', 'BANANA', 'CARROT', 'MANGO']
#which of the following are valid  ways of accessing 'MANGO':
==> list[-1] and list[3]

In [34]:
#29  which of the following code will give snippet will produce the output:
#boy, cat, dog
l=['Apple', 'Boy', 'Cat', 'Dog']
for x in l:
    if len(x)==3:
        print(x)

Boy
Cat
Dog

In [35]:
##30 consider the code :
a=15
b=5 
print(a/b)

3.0

In [ ]:
#31  you are developing a python application for company
a list named employees contains 500 employee names. in which cases will get index error
 while accessing employee data

emplyoees[500] ==> will give coz index valueswill be from 0 to 499
emplyoees[0] & emplyoees[-1]==> not give

In [ ]:
##32   
a=1
b=2
c=4
d=6 
## which expression will give results -4
(a+b)//c*d = (1+2)//4*6 = 3//24==>0
(b+c) //a%d == (2+4)//1%6 ==>0
(a+b)//c%d == (1+2)//4%6 ==>0
(a+b)//d-c== (1+2)//6-4== -4

In [2]:
# 33 what is the result 
s='Python is easy'
s1=s[-7:]

In [3]:
s1

'is easy'

In [4]:
s2=s[-4:]

In [5]:
s2

'easy'

In [6]:
print(s1+s2)

is easyeasy

In [ ]:
##34 give the correct python operator precedence order
1) parenthesis ()
2)exponents
3)unary +, -
4) *, /
5) addition & substraction

In [16]:
##35
#u are writing a python code that evaluates arithmetic exp
#the exp is described as b is equals a multiplied by negative 1, then raised to second power, 
#where a is the value which will be input and b is result
b=(-a)**2
a= eval(input('enter a number for the expression:'))

enter a number for the expression: 5

In [17]:
b

25

In [ ]:
#36 
result=8//6%5+2**3-2
=8//6%5+8-2
=1%5+8-2
=9-2
=7

In [ ]:
##37
a=3
b=5
a+=2**3 = a=3+=2**3 = a=3+8 a==11
a-=b//2//3 = a=11-5//2//3 a=11-2//3 = a=11-0 a=11

In [ ]:
#38 
a=bool([])= False
b=bool(())=False
c=bool(range(0))=False
d=bool({})=False
e=bool(set())=False

for empty str, emptyb list, empty tuple, empty set, empty dict, and range(0)== bool()function
returns False

In [13]:
#39 consider the python code
numbers=[10,20,30,40]
x=0
#write a code in which 10 will be printed 
for i in(30,40,50):
    if i in numbers:
        x=x+5
print(x)

10

In [14]:
#40
n1 =[10,20,30,40,50]
n2=[10,20,30,40,50]
print (n1 is n2)
print (n1 == n2)
n1=n2
print (n1 is n2)
print (n1==n2)
# same as Q.23

False
True
True
True