In [ ]:
#1 which expression evaluates to 4
1) 7-2*3=7-6=1
2)7//2-3 = 3-3=0
3)7/2*3 = 7/6=10.5
*4) 7%2+3 = 1+3 =4

In [ ]:
##2 consider the code
from sys import argv
sum =0
for i in range (2,len(argv)):
    sum+=float(argv[i])
print ("the Average for{0} is {1:.2f}".format(argv[1],sum/(len(argv)-2)))

In [5]:
#3 consider the code
x=3
x+=1
#line 1
#what should be inserted at line 1 so that x value will become 16
x**=2
print(x)

16

In [7]:
##4 consider the code:
print(type(input('enter some value:')))
print(type(input('enter some value:')))

enter some value: 10.0

<class 'str'>

enter some value: 10

<class 'str'>

In [ ]:
##5 consider the python code
a=['a', 'b','c', 'd']
for i in a:
    a.append(i.upper())
print(a)
##the code content will keep on added and it wont end. causing "MEMORY ERROR THROWN AT RUNTIME"

In [ ]:
#6 
a='5'
b='2'
(a*2)
(a+b)
(b*2)

In [9]:
##7
print(type(eval(input('enter some value:'))))
print(type(eval(input('enter some value:'))))
##eval function converts str type to corresponding type automatically

enter some value: 10.0

<class 'float'>

enter some value: 10

<class 'int'>

In [ ]:
##8 consider the code
a=7
b=3
c=5
d=1
output=a%c+1==7%5+1=3
      a+d*2==7+1*2==9
      a+c//d==7+5//1=12
       c*d-1==5*1-1=4

In [ ]:
##9

In [ ]:
#10 consider the following expression :
6//4%5+2**3-2//3
6//4%5+8-0
1%5+8
1+8
9

In [14]:
#11
x='TEXT'
output=x[0]+x[3]
print(output)

TT

In [2]:
#12
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print(not 10==10)

False
True
False

In [ ]:
#13 consider the code
a=float ('123.456')
#which expression evaluates to 2
bool(a)== True
bool(a)+ False=1
str(a)=123.456
bool(a)+True =2

In [14]:
#14
#you are intern for XYZ cars company. you have to create a function that calculates the average 
#velocity of vehicle on a 2640 foot tract
#consider the pyhton code
distance=float(input("enter the distance travelled in feet:"))
distance_miles=distance/5280
times==float(input("enter the time elapsed in seconds:"))
times_hours=times/3600
velocity=distance_miles/times_hours
print("the average velocity:",velocity,miles/hour)
#to generate most precise output, which modifications should be done at line-1 and at line -2

# for precised answer we need to use float as dist and time can be in decimals

enter the distance travelled in feet: 14

NameError: name 'times' is not defined

In [15]:
#15 the XYZ company has hired u for a coding team that craetes a e-commerce application. you must
# write a script that asks user for a value . the value must be used as a whole numbers even if users 
#enter decimal value
print(int(float(input("how many items do u require??"))))

how many items do u require?? 45.23

45

In [16]:
#16 in which of the following cases True will be printed 
print('r' in 'durga')

True

In [17]:
#16 in which of the following cases True will be printed 
print('is' in 'This IS a Fake News')

True

In [18]:
#17 consider the code 
x=2
y=6
x+=2**3 #x=2+2**3===2+8==10
x
print(x)

10

In [19]:
#18

In [22]:
#19 if the user enters 12345 as input. which of the following code will prunt 12346 to console
sum=int(input("enter the number")) ## in place of int we can use EVAL as well
print(sum+1)

enter the number 12345

12346

In [30]:
#20 consider the code
t=([10,20],10,False)
#which line of code assigns <class 'list> to x
x=type(t[0]) == <class 'list>

In [ ]:
#21 which expression would evaluate to 2?
11/2==5.5
22%5==2
13//4==3
3**2=9

In [32]:
#22 consider the code 
x=3/3+3**3-3
print(x)

25.0

In [34]:
##23 consider the python code :
result=str(bool(1)+float(10)/float(2))
print(result)

6.0

In [ ]:
#24

In [37]:
#25 consider the code:
#you develop a python application for your company. you required to accept input from user 
#and print that info to user screen 
#consider the code:
print("enter ur name:")
#line-1
name=input()
print(name)

enter ur name:

 Shruti

Shruti

In [ ]:
#26
true and false evaluates to False
True+1 evaluates to 2

In [38]:
#27 consider the code:
print(not 0)
print(not 10)
print(not '')
print(not 'durga')
print(not None)

True
False
True
False
True

In [39]:
#28 consider the python code:
l1=['sunny', 'bunny', 'chinny', 'vinny']
l2=['sunny', 'bunny', 'chinny', 'vinny']
print(l1 is not l2)
print(l1!=l2)
l1=l2
print(l1 is not l2)
print(l1 != l2)

True
False
False
False

In [ ]:
#29 in which case we will get <class 'int'> as output ?
x=2**2**2
print(type(x)) ==> <class 'int'> 

x='47'
print(type(x)) ==> <class 'str'>

x=47.0
print(type(x))  ==> <class 'float'>

x=10+20
print(type(x))  ==> <class 'complex'>

In [ ]:
#30 consider the code :
s= 'DURGA SOFT' 
#Wich of the following lines will assign 9 to variable result ?
result=len(s.replace(' ','')) ==> 'DURGASOFT'

In [ ]:
#31

In [51]:
#32  
b='BANANA'
print=(b[1]+b[3]) == 'AA'
print=(b[3]+b[5]) == 'AA'
print=(b[1]+b[5]) == 'AA'
print=(b[1]+b[2]) == 'AN'

In [2]:
#33 consider the python code:
l1=['sunny', 'bunny', 'chinny', 'vinny']
l2=['sunny', 'bunny', 'chinny', 'vinny']
print(l1 is  l2)
print(l1==l2)
l1=l2
print(l1 is l2)
print(l1 == l2)

False
True
True
True

In [6]:
##34 
V1=1
V2=0
V1=V1^V2
V2=V1^V2
V1=V1^V2
print(V1)
#XOR operator:- ^ so if both bits are same then result is 1
#here v1=1 then v2=1 soo v1=1^1=0

0

In [10]:
#35 consider the code:the output should be 20 if input is 15
count=input("enter the number of customers of bank:")
#line-1
output=int(count)+5
print(output)

enter the number of customers of bank: 15

20

In [12]:
#36 consider the code:
x='10'
y='20'
#the type of x+y?
print(x+y)
type(x+y)

1020

str

In [ ]:
##37 whichbof the following string declarations spans more than one line and considers 
#white space properly when the string is printed to console ?

S1='''Bharat 
          Software
                Solutions'''

# multiline string literals should be enclosed within triple quotes

In [14]:
##38 consider the code 
lst=[7,8,9]
b=lst[:]
print(b is lst)
print(b==lst)

False
True

In [ ]:
##39 S = " Sachin Tendulkar is cricket's great player"

In [19]:
#40 
#yyou r developing an app in which students will students will provide clg name and city as input
#if student provides college  as BHARATSOFT and city as Pune,then our application has to provide the following greeting message. Welcome to BHARATSOFT in Pune

college_name=input('enter your clg name:')
city = input('enter ur city:')
print('welcome to {} in {}'.format(college_name, city))

enter your clg name: BHARATSOFT
enter ur city: Pune

welcome to BHARATSOFT in Pune